@font-face {
    font-family: "SF-Pro-Display-Light";
    src: local("SF-Pro-Display-Light"), url("../assets/fonts/SF-Pro-Display-Light.otf") format("opentype");
}

@font-face {
    font-family: "SF-Pro-Display-Regular";
    src: local("SF-Pro-Display-Regular"), url("../assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SF-Pro-Display-Medium";
    src: local("SF-Pro-Display-Medium"), url("../assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
    font-family: "SF-Pro-Display-Bold";
    src: local("SF-Pro-Display-Bold"), url("../assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

.light {
    font-family: "SF-Pro-Display-Light", sans-serif;
}

.regular {
    font-family: "SF-Pro-Display-Regular", sans-serif;
}

.medium {
    font-family: "SF-Pro-Display-Medium", sans-serif;
}

.bold {
    font-family: "SF-Pro-Display-Bold", sans-serif;
}

