.link-block-icon {
  svg {
    width: 24px;
    height: 24px;
  }
}

.spotify-card-icon {
  svg {
    width: 42px;
    height: 42px;
  }
}

.project-card-icon {
  svg {
    width: 20px;
    height: 20px;
  }
}

.navigator-icon {
  svg {
    margin-bottom: 2px;
    width: 16px;
    height: 16px;
  }
}

.warning-icon {
  svg {
    margin-bottom: 2px;
    width: 22px;
    height: 22px;
  }
}

.contact-form-icon {
  svg {
    margin-top: 1px;
    width: 16px;
    height: 16px;
  }
}