@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Unageo-L"; 
  src: local("Unageo-Light"), url("./assets/fonts/Unageo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Unageo-R"; 
  src: local("Unageo-Regular"), url("./assets/fonts/Unageo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unageo-M"; 
  src: local("Unageo-Medium"), url("./assets/fonts/Unageo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Unageo-SB"; 
  src: local("Unageo-Semibold"), url("./assets/fonts/Unageo-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Unageo-B"; 
  src: local("Unageo-Bold"), url("./assets/fonts/Unageo-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.light {
  font-family: "Unageo-L";
}

.regular {
  font-family: "Unageo-R";
}

.medium {
  font-family: "Unageo-M";
}

.semi-bold {
  font-family: "Unageo-SB";
}

.bold {
  font-family: "Unageo-B";
}

